@media only screen and (max-width: 600px) {
  video{
    width: 100%;
  }
}



.pagination {
  display: inline-block;
  padding-left: 1px;
  padding-right: 1px;
  background: rgb(1, 0, 3);
  margin-top: 10px;
  border-radius: 2px;
  font-weight: bold;
  color: white;
  border: 1px solid rgb(1, 0, 3);
}
.pagination a {
  color: white;
  float: left;
  font-size:20px;
  text-decoration: none;
}

.pagination li {
  display: inline-block;
  padding: 1em;
  color: #f1f1f1;
  background: rgb(1, 0, 3);
  border: 1px solid rgb(1, 0, 3);
  border-radius: 5px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: rgb(15, 3, 3);
  border-radius: 2px;
  text-decoration: none;
}
.pagination .active {
  background: rgb(96, 87, 221);
}

::-webkit-scrollbar{
  width: 3px;
}  

::-webkit-scrollbar-track{
  background: initial;
}

::-webkit-scrollbar-thumb{
  background: #3f4b4a;
  border-radius: 50px;
}